Host isucon_app
    HostName              47.74.38.33
    User                  isucon
    IdentityFile          private_key
    IdentitiesOnly        yes
    StrictHostKeyChecking no
    UserKnownHostsFile    /dev/null

Host isucon_db
    HostName              47.74.47.217
    User                  isucon
    IdentityFile          private_key
    IdentitiesOnly        yes
    StrictHostKeyChecking no
    UserKnownHostsFile    /dev/null

Host isucon_redis
    HostName              47.74.9.219
    User                  isucon
    IdentityFile          private_key
    IdentitiesOnly        yes
    StrictHostKeyChecking no
    UserKnownHostsFile    /dev/null